html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
    box-sizing: border-box;
    color: #373737;
    background: #212121;
    font-size: 22px;
    font-family:  Arial, sans-serif, Calibri, Helvetica;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-weight: 700;
    color: #222222;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
}

h1 {
    font-size: 36px;
    font-weight: 700;
}

h2 {
    padding-bottom: 10px;
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 21px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

p {
    margin: 10px 0 15px 0;
}

footer p {
    color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #007edf;
    text-shadow: none;
    transition: color 0.5s ease;
    transition: text-shadow 0.5s ease;
}

    a:hover, a:focus {
        text-decoration: underline;
    }

footer a {
    color: #F2F2F2;
    text-decoration: underline;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

img {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    padding: 5px;
    margin: 10px 0 10px 0;
    border: 1px solid #ebebeb;
}

.imgwidth {
   width: auto;
   border: none;
}

.imgno {
    border: none;
    box-shadow: none;
    width: 32px;
    height: 32px;
}

pre {
    max-width: 100%;
    color: #222;
    background-color: #fff;
    font-family: Monaco, Terminal, monospace;
    font-size: 18px;
	overflow: auto;
}

code {
    padding: 3px;
    margin: 0 3px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre code {
    display: block;
    box-shadow: none;
}

blockquote {
    color: #666;
    margin-bottom: 20px;
    padding: 0 0 0 20px;
    border-left: 3px solid #bbb;
}


ul, ol, dl {
    margin-bottom: 15px;
}

ul {
    list-style: inside;
    padding-left: 20px;
}

ol {
    list-style: decimal inside;
    padding-left: 20px;
}

dl dt {
    font-weight: bold;
}

dl dd {
    padding-left: 20px;
    font-style: italic;
}

dl p {
    padding-left: 20px;
    font-style: italic;
}

hr {
    height: 1px;
    margin-bottom: 5px;
    border: none;
}

table {
    border: 1px solid #373737;
    margin-bottom: 20px;
    text-align: left;
    font-size: 16px;
}

th {
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px;
    background: #373737;
    color: #fff;
}

td {
    padding: 10px;
    border: 1px solid #373737;
}

form {
    background: #f2f2f2;
    padding: 20px;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
    max-width: 100%;
}

.inner {
    position: relative;
    max-width: 850px;
    padding: 20px 10px;
    margin: 0 auto;
}


#header_wrap {
    background: #212121;
    background: -moz-linear-gradient(top, #373737, #212121);
    background: -webkit-linear-gradient(top, #373737, #212121);
    background: -o-linear-gradient(top, #373737, #212121);
    background: linear-gradient(top, #373737, #212121);
}

    #header_wrap .inner {
        padding: 50px 10px 30px 10px;
    }

#project_title {
    margin: 0;
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    text-shadow: #111 0px 0px 10px;
    text-indent: 100px;
}

#project_tagline {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    background: none;
    text-shadow: #111 0px 0px 10px;
}

#downloads {
    position: absolute;
    width: 200px;
    z-index: 10;
    bottom: -50px;
    right: 0;
    height: 100px;
    background-image: url( "images/ico.png");
}

#logo {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 11;
    top: 20px;
    left: 0px;
    background-image: url( "images/ico4.png");
}


#main_content_wrap {
    background: #f2f2f2;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
}

#main_content {
    padding-top: 40px;
}

#footer_wrap {
    background: #212121;
}

a img { 
    margin: 0;
    padding: 0;
    border: 0;
} 